body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/home.jpg');
  text-align: center;
}



html {
  position: relative;
  min-height: 100%;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  font-weight: bold;

}
